<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" /> -->
      <link rel="apple-touch-icon" sizes="180x180" href="/assets/images//apple-touch-icon.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="/assets/images//favicon-32x32.png" />
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/images//favicon-16x16.png" />

      <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/assets/css/datatables.min.css" />
      <link rel="stylesheet" href="/assets/css/custom.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
         rel="stylesheet"
      />
      <title>Go webapp</title>
   </head>
   <body>
      <div class="container-fluid">
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
               <a class="navbar-brand" href="/">GoWebapp</a>
               <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
               >
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a
                           class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"
                        >
                           Contato
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <li><a class="dropdown-item" href="#">Github</a></li>
                           <li><a class="dropdown-item" href="#">E-mail</a></li>
                           <li><hr class="dropdown-divider" /></li>
                           <li><a class="dropdown-item" href="#">Twitter</a></li>
                        </ul>
                     </li>
                  </ul>
                  <form class="d-flex mb-2 me-2">
                     <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                     />
                     <button class="btn btn-outline-info" type="submit">Search</button>
                  </form>
                  <div class="d-flex justify-content-end mb-2">
                     <div class="justify-content-end">
                        <a href="/register" class="btn btn-primary">Entrar/Registrar</a>
                     </div>
                  </div>
               </div>
            </div>
         </nav>

         <hr />
      </div>

      <div class="container">
         <h1 class="my-4">Go Webapp</h1>
         <p>Este é o projeto de um webapp desenvolvido em Go</p>
         <hr />

         <div class="row">
            <div class="col-md-12">
               <form action="" method="POST">
                  <div class="form-group">
                     <input
                        type="text"
                        id="search"
                        class="form-control"
                        placeholder="Pesquisar produtos no banco de dados"
                        value=""
                     />
                  </div>
               </form>
            </div>
         </div>
         <div class="container-fluid">
            <h2 class="my-4">Produtos</h2>
            <div class="col-md-12">
               <div id="information"></div>
               <div class="container-fluid largura-fixa" id="table-div">
                  <!-- <p class="text-center">Digite no campo de busca para encontrar o que deseja</p> -->
                  <table class="table table-hover" id="data-table">
                     <thead>
                        <tr>
                           <th scope="col">Id</th>
                           <th scope="col">Categoria</th>
                           <th scope="col">Nome</th>
                           <th scope="col">Preço</th>
                           <th scope="col">Quantidade</th>
                           <th scope="col">Total</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>

      <!-- <script src="/assets/js/jquery.js"></script>
      <script src="/assets/js/bootstrap.js"></script> -->
      <script src="/assets/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/js/ajax.js"></script>
      <script src="/assets/js/datatables.min.js"></script>

      <!-- <script>
         var ajaxSearch = (search) => {
            $.ajax({
               type: 'POST',
               dataType: 'html',
               url: '/',
               beforeSend: () => {
                  $('#data-table').html('Buscando...');
               },
               data: { search: search },
               success: (r) => {
                  $('#data-table').html(r);
               },
            });
         };

         $('#search').keyup(() => {
            ajaxSearch($('#search').val());
         });
      </script> -->
   </body>
</html>
